<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.utar.evercare" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/evercare"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/evercare"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MapsActivity"
            android:exported="true" />
        <activity
            android:name=".ScheduleDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".DailyScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".FontSizeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RemoteMonitoringActivity"
            android:exported="false"
            android:label="@string/title_activity_remote_monitoring" />
        <activity
            android:name=".EmergencyHelpActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:label="@string/title_activity_chat" />
        <activity
            android:name=".PillReminderActivity"
            android:exported="false" />
        <activity
            android:name=".MedicalRecordActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".HomepageActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCAssxxUDeUevzN8Wn5JazMRTjMhgdQTGA"/>
    </application>

</manifest>