<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.utar.evercare">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/evercare"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/evercare"
        android:supportsRtl="true"
        android:theme="@style/Theme.EverCare">
        <activity
            android:name=".CalendarDate"
            android:exported="false" />
        <activity
            android:name=".DailySchedule"
            android:exported="false" />
        <activity
            android:name=".CalendarItem"
            android:exported="false" />
        <activity
            android:name=".CalendarAdapter"
            android:exported="false" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".DailyScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".FontSizeActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RemoteMonitoringActivity"
            android:exported="false"
            android:label="@string/title_activity_remote_monitoring"
            android:theme="@style/Theme.EverCare.NoActionBar" />
        <activity
            android:name=".EmergencyHelpActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.EverCare.NoActionBar" />
        <activity
            android:name=".PillReminderActivity"
            android:exported="false" />
        <activity
            android:name=".MedicalRecordActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ElderlyUserActivity"
            android:label="Elderly User Activity" />
        <activity
            android:name=".StaffUserActivity"
            android:label="Staff User Activity" />
        <activity
            android:name=".CaregiverUserActivity"
            android:label="Caregiver User Activity" />
        <activity
            android:name=".HomepageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>